@model boot_2_new.Models.Comment
@using boot_2_new.Models

@{
    ViewBag.Title = "FeedBack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="text-info" style="color:black;font-weight:bold"><h2>Send Us Your Feed Back</h2></div>
    <div class="container row ">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
           @using (Html.BeginForm("getFeedBack", "FeedBack", FormMethod.Post))
           { 
               @Html.ValidationSummary(true)
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10 controls-row">
                            @Html.ValidationMessageFor(x=>x.username)
                            @Html.EditorFor(x => x.username, new {placeholder="Your Name",@class="form-control",@Styles="width:100%"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputemail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10 controls-row">
                            @Html.ValidationMessageFor(x=>x.email)
                            @Html.EditorFor(x => x.email, new { placeholder = "Your Email", @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputemail" class="col-sm-2 control-label">Your FeedBack</label>
                        <div class="col-sm-7 controls-row">
                            @Html.ValidationMessageFor(x=>x.comment1)
                            @Html.TextAreaFor(x => x.comment1, new { placeholder = "Your Feed Back",rows="7", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label dl-horizontal">
                            <label for=" inputemail">
                                Sex
                            </label>
                        </div>
                        <div class="col-lg-1 ">
                            <div class="radio dl-horizontal">
                                <label>
                                    @Html.ValidationMessageFor(x=>x.gender)
                                    @Html.RadioButtonFor(x => x.gender, "Male") Male
                                </label>
                            </div>
                            <div class="radio dl-horizontal">
                                <label>
                                    @Html.ValidationMessageFor(x => x.gender)
                                    @Html.RadioButtonFor(x => x.gender, "Female") FeMale
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group bottom ">
                        <div class="col-sm-offset-3  col-sm-pull-2">
                           
                        </div>
                    </div>
                    <div class="form-group bottom">
                        <div class="col-sm-offset-3 col-sm-pull-2">
                            <button type="submit" class="btn btn-danger boxed" >Submit</button>
                        </div>
                    </div>


                </div>
               Html.EndForm();
               }


            @{
                var count = 1;
                foreach (Comment c in ViewBag.FeedBack)
                {

                    <label>FeedBack No: @(count++)</label>
                    <div style="margin:5% 5% 5% 5%">
                        <label class=" label label-danger" style="font-size:large">
                            @(c.username) Says:
                        </label>
                               @c.comment1
                   
                    </div>

                }
            }
        </div>
        <div class="col-md-2">

        </div>
               
    </div>
 



