@using boot_2_new.Models;
@model boot_2_new.Models.Comment
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <label style="font-size:x-large">@ViewBag.Video.title</label>
    <div class="container" >
        <ul>
            <li data-src="~/Content/Videos/@ViewBag.Video.file"> </li>
        </ul>
         <video  height="500" width="1000" controls>
                <source src="~/Content/Videos/@ViewBag.Video.file" type="video/@ViewBag.Video.file.Split('.')[1]">
                <source src="~/Content/Videos/@(ViewBag.Video.file.Split('.')[0]).ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
    </div>
<div class="container">
    <div class="row  " >
       
            <div class="row box-info">
                <div class="col-md-2">

                </div>
                <div class="col-md-4 ">
                    <label>Posted On</label><br />

                    <label>Posted by</label><br />

                </div>
                <div class="col-md-4 ">
                    <p> @ViewBag.Video.date</p>
                    <p>@ViewBag.Video.admin</p>

                </div>
            <div class="col-md-2">

            </div>
       
    </div>
</div>
</div>

<div class="container">
    <div class="row">


        <div class="col-md-2">

        </div>
        <div class="col-md-6 ">

            

            <h1><span class="glyphicon glyphicon-comment" style="font-size:xx-large">  Comments</span> </h1>


            @{
                var count = 1;
                
                foreach (Comment c in ViewBag.Comment)
                {

                    <label>Comment No: @(count++)</label>
                    <div class="comments">

                        <p><label>Name:</label><span style="margin-left:5%">@c.username</span></p>
                        <p>  <label>Email:</label><a href="#"><span style="margin-left:5%">@c.email</span></a></p>
                        <p><label>Gender:</label><span style="margin-left:5%">@c.gender</span></p>
                        <p><label>Comment:</label> <span style="margin-left:5%">@c.comment1 </span></p>
                    </div>

                }
            }



            <div class="text-info" style="color:black;font-weight:bold"><h2>Leave a Reply</h2></div>
            <div class="container row ">
                <div class="col-md-7">
                    @using (Html.BeginForm("getVideoComments", "Trending"))
                    {
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div class="form-horizontal">
                                <div class="form-group">

                                    <input type="hidden" name="vid" value="@ViewBag.Video.Id" />

                                    @Html.LabelFor(x => x.username, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10 controls-row">
                                        @Html.EditorFor(x => x.username, new { @class = "form-control", placeholder = "Name..." })
                                        @Html.ValidationMessageFor(x => x.username)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.email, new { @class = "col-sm-2 control-label" })

                                    <div class="col-sm-10 controls-row">
                                        @Html.EditorFor(x => x.email, new { @class = "form-control", placeholder = "Email.." })
                                        @Html.ValidationMessageFor(x => x.email)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.comment1, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7 controls-row">
                                        @Html.TextAreaFor(x => x.comment1, new { rows = "8", @class = "form-control", placeholder = "Comment here.." })
                                        @Html.ValidationMessageFor(x => x.comment1)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label dl-horizontal">
                                        <label for=" inputemail">
                                            Sex
                                        </label>
                                    </div>
                                    <div class="col-lg-1 ">
                                        <div class="radio dl-horizontal">
                                            <label>
                                                @Html.RadioButtonFor(x => x.gender, "Male") Male
                                            </label>
                                        </div>
                                        <div class="radio dl-horizontal">
                                            <label>
                                                @Html.RadioButtonFor(x => x.gender, "Female") FeMale
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group bottom ">
                                    <div class="col-sm-offset-3  col-sm-pull-2">

                                    </div>
                                </div>
                                <div class="form-group bottom">
                                    <div class="col-sm-offset-3 col-sm-pull-2">
                                        <button type="submit" class="btn btn-info boxed">Submit</button>
                                    </div>
                                </div>


                            </div>
                        </fieldset>
                        Html.EndForm();
                    }
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>

</div>